# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

PRISMA_DATABASE_URL="postgres://2a6134f6c2bc45b9b676da7d7ffa7e684693296da0c59520a7a69328e01fca6f:sk__0hZ449RLABLjbSpyWKeH@db.prisma.io:5432/postgres?sslmode=require"


# Auth Secret
AUTH_SECRET=Xmtn263YTsiFyQufW7V5YmfYGa3pZMsc
AUTH_URL=http://localhost:3000 # Base URL of your app